.sidebar-container {
  height: 93.8vh;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.side-item-wrapper {
  position: relative;
}

.hover-inline-dropdown {
  position: fixed;
  /* instead of absolute */
  top: var(--hover-top, 0);
  /* we'll set this dynamically */
  transform: translateX(-7%);
  white-space: nowrap;
  background-color: #343a40;
  z-index: 1050;
  padding: 0;
  border-radius: 4px;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

.hover-inline-dropdown::-webkit-scrollbar {
  display: none;
}

.list-group .list-group-item {
  padding: 6px 12px;
  transition: background-color 0.2s ease;
}

.list-group-item {
  background-color: #495057;
  /* Slightly lighter shade on hover */
  cursor: pointer;
  color: white;
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}

.list-group-item:hover {
  transform: translateX(-1%);
}

.side-hover-trigger:hover {
  background-color: #495057;
  border-radius: 4px;
  color: #ffc107;
  transition: all 0.2s ease;

}

.side-item-wrapper:hover .hover-inline-dropdown {
  display: block;
}



.hover-inline-dropdown .list-group-item {
  background-color: #343a40;
  color: white;
  border: none;
}

.hover-inline-dropdown .list-group-item:hover {
  background-color: #495057;
  cursor: pointer;
}